{% extends 'base.html' %}

{% block content %}

    {% include '../partials/navbar.html' %}

    {% if is_correct %}
        <h4 style="color: green;">Resposta correta!</h4>
    {% else %}
        <h4 style="color: red;">Resposta errada!</h4>
    {% endif %}

    <br/>
    <br/>
    <a href="/?question_id={{ questions_obj.number }}">Tente novamente</a>
    {% if questions_obj.has_next %}
        <a href="/?question_id={{ questions_obj.next_page_number }}">Próxima questão</a>
    {% else %}
        <a href="/?question_id=1">Próxima questão</a>
    {% endif %}

{% endblock content %}