{% extends 'base.html' %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Pergunta</th>
                <th>Resposta</th>
                <th>Acertou?</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                <tr>
                    <td>{{ log.question_text }}</td>
                    <td>{{ log.answer_text }}</td>
                    <td>{{ log.is_correct|yesno:"Sim,Não" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}