{% extends 'base.html' %}

{% block content %}

    {% include '../partials/navbar.html' %}

    <form action="{% url 'question_answer' %}" method="POST">
        {% csrf_token %}

        {% for question in page_obj %}
            <p>Pergunta {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</p>
            <h3>{{ question }}</h3>

            <ol style="list-style: lower-alpha;">
                {% for answer in question.answer_set.all %}
                    <li><input type="radio" name="answer" value="{{ answer.id }}" checked>{{ answer.answer_text }}</li>
                {% endfor %}
            </ol>
            <input type="hidden" name="question" value="{{ question.id }}">
        {% endfor %}

        <br/>
        <input type="hidden" name="page_number" value="{{ page_obj.number }}">
        <input type="submit" value="Ok" />
    </form>
    
{% endblock content %}