<!DOCTYPE html>
<html>
    <head>
        <title>Resposta</title>
    </head>

    <body>
    {% if is_correct %}
        Resposta correta!
        <br/>
        <br/>
        {% if next_question == 1 %}
            <a href="{% url 'question' next_question %}">Voltar ao início</a>
        {% else %}
            <a href="{% url 'question' next_question %}">Próxima pergunta</a>
        {% endif %}
    {% else %}
        Resposta errada!
        <br/>
        <br/>
        <a href="{% url 'question' question_id %}">Tente novamente</a>
    {% endif %}
    
    {% if error_message %}
        {{ error_message }}
    {% endif %}

    

    </body>
</html>