<!DOCTYPE html>
<html>
    <head>
        <title>Cadastre-se</title>
    </head>

    <body>
        <form class="px-4 py-3" action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
            {% for field in form_new_user.visible_fields %}
                <ul>
                    <label for='{{field.id_for_label}}'>{{field.label}}</label></br>
                    {{field}}   
                    {% for erros in field.errors %}   </br>
                        <section style="color:red;">
                            *{{erros}}
                        </section>
                    {% endfor %}
                </ul>
            {% endfor %}
            </div>
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </form>
    
    </body>
</html>