<!DOCTYPE html>
<html>
    <head>
        <title>Questão 1</title>
    </head>

    <body>
        <form action="{% url 'question_answer' %}" method="POST">
            {% csrf_token %}
                <p>{{ text }}</p>

            
            {% for letter, value in answers_list.items %}
                <input type="radio" name="answer" value="{{ letter }}"><b>{{ letter }}.</b> {{ value }}</input><br/>
            {% endfor %}

            <br/>
            <input type="submit" value="Ok" />
        </form>
    </body>
</html>