<!DOCTYPE html>
<html>
    <head>
        <title>Questão 1</title>
    </head>

    <body>
        <form action="{% url 'question_answer' %}" method="POST">
            {% csrf_token %}
            <p>{{ questions.question }}</p>

            {% for alternative in questions.alternatives %}
                <input type="radio" name="answer" value="{{ alternative.id }}"><b>{{ alternative.alternative_order }}.</b> {{ alternative }}</input><br/>
            {% endfor %}

            <br/>
            <input type="submit" value="Ok" />
        </form>
    </body>
</html>