{% extends 'registration/base.html' %}
{% load static %}

<br>
<div class="container">
    <div class="row panel panel-default panel-body">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
            <img src="{% static 'core/img/sadepi.jpg' %}" style="width:55%;">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 text-center">
            <br>
            <h2>Seja bem-vindo(a)</h2>
        </div>
    </div>
    <div class="row panel panel-default panel-body">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2></h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'core/js/login.js'%}" charset="UTF-8"></script>