<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    {% if form.errors %}
    <p>Seu usuário e senha não correspondem.</p>
    {% endif %}

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <br/>
        <span>Login:</span><br/>
        <input type="text" name="username" maxlength="150" required="">
        <br/>
        <br/>
        <span>Senha:</span><br/>
        <input type="password" name="password" maxlength="150" required="">
        <br/>
        <br/>
        <input type="submit" value="Login" />
    </form>
        <br/>
        <br/>
        {# <a href="{% url 'login' %}">Não tem cadastro? Faça agora!</a> #}
</body>

</html>
