{% extends 'base.html' %}
{% block content %}

<form action="{% url 'register_user' %}" method="post" onsubmit="confirmPassword(event, this)">
    {% csrf_token %}
    <label for="username">Nome de usuário:</label>
    <input type="text" name="username"><br>

    <label for="email">E-mail:</label>
    <input type="text" name="email"><br>

    <label for="password">Senha:</label>
    <input type="password" id="pw" name="password"><br>
    
    <label for="password2">Repita a senha:</label>
    <input type="password" id="pw2" name="password2"><br>

    <button type="submit">Cadastrar</button>
    <a href="{% url 'login_form_view' %}">Já tenho conta</a>
</form>

<script>
    function confirmPassword(event, form) {
        event.preventDefault();
        pw = document.getElementById('pw').value;
        pw2 = document.getElementById('pw2').value;
        if (pw === pw2) {
            form.submit();
        } else {
            alert("As senhas são diferentes!");
        }
    }
</script>

{% endblock content %}